<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NoteTaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body style="height: 100vh; overflow: hidden;">


    <nav class="bg-light navbar-light-subtle navbar border bg-light-subtle mb-4" id="main-navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="navbarToggleExternalContent">
                {% if session["user_id"] %}
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-auto">
                            <div class="row">
                                <div class="col-auto" style="padding-right: 0px">
                                    <div style="font-size: 2rem;">Hi {{ session["username"] }}!</div>
                                </div>
                                <div class="col-auto" style="padding-right: 0px;">
                                    <a class="navbar-brand" href="/">NoteTaker</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <ul class="navbar-nav flex-row" style="justify-content: flex-start;">
                                <li class="nav-item">
                                    <a class="nav-link" href="/New_Note">New Note</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Load_Note">Load Note</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">HELLO</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="navbar-nav flex-row justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" id="logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% else %}
                <ul class="navbar-nav flex-row">
                    <a class="navbar-brand">NoteTaker</a>
                    <li class="nav-item ms-auto me-1">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <header class="d-flex justify-content-center">
        <span class="alert alert-primary mb-0 text-center" role="alert">
            {{ messages[0] }}
        </span>
    </header>
    {% endif %}
    {% endwith %}

    <main class="text-center mt-3 d-flex justify-content-center align-items-center px-0"
        style="height: 100%; overflow-y: hidden">
        {% block main %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let logout = document.getElementById("logout")
            logout.addEventListener("click", function (e) {
                e.preventDefault()
                let answer = confirm("Are you sure you want to logout? Any unsaved actions will be losed.")
                if (answer) {
                    window.location.href = logout.href;
                }

            })
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
            const myModal = document.getElementById('myModal')
            const myInput = document.getElementById('myInput')

            myModal.addEventListener('shown.bs.modal', () => {
                myInput.focus()
            })
        })
    </script>
</body>

</html>